
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
    height: 12vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .logo {
    font-weight: 700;
    font-size: 1.4rem;
  }